<div class="container">
  <div class="row">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>class Binding</p>
      <button class="btn btn-primary" [class.active]="isActive">Click</button>
    </div>
    <div class="col-md-4">
      <p>Style Binding</p>
      <button class="btn btn-primary" [style.backgroundColor]="isActive ? 'blue' : 'grey'">Click</button>
    </div>
    <div class="col-md-4" (click)="onclickDiv()">
      <p>Event Binding </p>
      <button class="btn btn-success" (click)="consoleMsg($event)">Click</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!-- string interpulation -->
      <p>Using String Interpulation</p>
      <img src="{{imgUrl}}" />
    </div>
    <div class="col-md-4">
      <!-- Property Binding -->
      <p>Using Property Binding</p>
      <img [src]="imgUrl" />
    </div>
    <div class="col-md-4">
      <p>Attribute Binding</p>
      <table>
        <tbody>
          <tr>
            <td [attr.colspan]="colSpan"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>display using Service</p>
    </div>
    <div class="col-md-12">
      <ul>
        <li *ngFor="let emp of EmpList">
          {{emp}}
        </li>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <p>Event Filtering</p>
      <input (keyup.enter)="onkeyUp($event)" />
    </div>
    <div class="col-md-4">
      <p>using Template Veriable</p>
      <input #email (keyup.enter)="onkeyUp1(email.value)" />
    </div>
    <div class="col-md-4">
      <p>Two Way Data binding</p>
      <!-- typical way -->
      <input [value]="TwoWayDataBinding" (keyUp.enter)="TwoWayDataBinding=$event.target.value; sampleMethod()" />
      <!-- using ng model -->
      <input [(ngModel)]="TwoWayDataBindingngModel" (keyup.enter)="sampleMethod1()" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>{{cource.title | uppercase | lowercase}}</p>
      <p>{{cource.rating}}</p>
      <p>{{cource.students}}</p>
      <p>{{cource.price}}</p>
      <p>{{cource.releaseDate}}</p>
    </div>
  </div>


</div>